In [20]:
import sys
import os
import numpy as np
import pandas as pd
import missingno as msno
import matplotlib.pyplot as plt
from matplotlib.gridspec import GridSpec
import seaborn as sns
from scipy.stats import chi2_contingency, f_oneway, jarque_bera, probplot
import plotly.express as px

In [21]:
project_root = os.path.abspath("..")
if project_root not in sys.path:
    sys.path.append(project_root)

# Now you can import your helper function
from time_prediction.helper_funtions.eda_helper_functions import display_html

In [2]:
pd.set_option('display.max_columns', None)

In [22]:
path = "/Users/aryagupta/Desktop/food-delivery-estimation/food_time_prediction_using_mlops/data/processed/cleaned_data_train.csv"

data = pd.read_csv(path)

In [23]:
data.sample(5)

,rider_id,age,ratings,restaurant_latitude,restaurant_longitude,delivery_latitude,delivery_longitude,order_date,weather,traffic,vehicle_condition,type_of_order,type_of_vehicle,multiple_deliveries,festival,city_type,time_taken,city_name,order_day,order_month,order_day_of_week,is_weekend,pickup_time_minutes,order_time_hour,order_time_of_day,distance
13581,HYDRES01DEL01,27.0,4.5,17.410371,78.437225,17.520371,78.547225,2022-03-02,sandstorms,low,0.0,drinks,motorcycle,1.0,no,urban,18,HYD,2,3,wednesday,0,5.0,22.0,night,16.903844
1321,KNPRES01DEL02,32.0,4.6,26.483672,80.320708,26.503672,80.340708,2022-02-13,sandstorms,high,2.0,drinks,scooter,1.0,no,metropolitian,25,KNP,13,2,sunday,1,5.0,11.0,morning,2.984498
21624,BANGRES20DEL02,25.0,4.9,12.972161,77.596014,13.022161,77.646014,2022-04-05,fog,medium,2.0,buffet,electric_scooter,0.0,no,metropolitian,11,BANG,5,4,tuesday,0,10.0,18.0,evening,7.762606
45465,COIMBRES09DEL03,24.0,4.7,11.008638,76.984311,11.068638,77.044311,2022-03-03,windy,low,2.0,buffet,motorcycle,1.0,no,metropolitian,12,COIMB,3,3,thursday,0,15.0,22.0,night,9.348326
26326,KNPRES08DEL02,20.0,5.0,NaN,NaN,NaN,NaN,2022-02-12,cloudy,jam,0.0,snack,motorcycle,1.0,no,metropolitian,37,KNP,12,2,saturday,1,10.0,19.0,evening,NaN

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45502 entries, 0 to 45501
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   rider_id              45502 non-null  object
 1   age                   43648 non-null  float64
 2   ratings               43594 non-null  float64
 3   restaurant_latitude   41872 non-null  float64
 4   restaurant_longitude  41872 non-null  float64
 5   delivery_latitude     41872 non-null  float64
 6   delivery_longitude    41872 non-null  float64
 7   order_date            45502 non-null  object
 8   weather               44977 non-null  object
 9   traffic               44992 non-null  object
 10  vehicle_condition     45502 non-null  float64
 11  type_of_order         45502 non-null  object
 12  type_of_vehicle       45502 non-null  object
 13  multiple_deliveries   44509 non-null  float64
 14  festival              45274 non-null  object
 15  city_type             44304 non-null  object
 16  time_taken            45502 non-null  int64
 17  city_name             45502 non-null  object
 18  order_day             45502 non-null  int64
 19  order_month           45502 non-null  int64
 20  order_day_of_week     45502 non-null  object
 21  is_weekend            45502 non-null  int64
 22  pickup_time_minutes   43862 non-null  float64
 23  order_time_hour       43862 non-null  float64
 24  order_time_of_day     45502 non-null  object
 25  distance              41872 non-null  float64
dtypes: float64(11), int64(4), object(11)
memory usage: 9.0+ MB

In [25]:
data.isna().sum()

rider_id                   0
age                     1854
ratings                 1908
restaurant_latitude     3630
restaurant_longitude    3630
delivery_latitude       3630
delivery_longitude      3630
order_date                 0
weather                  525
traffic                  510
vehicle_condition          0
type_of_order              0
type_of_vehicle            0
multiple_deliveries      993
festival                 228
city_type               1198
time_taken                 0
city_name                  0
order_day                  0
order_month                0
order_day_of_week          0
is_weekend                 0
pickup_time_minutes     1640
order_time_hour         1640
order_time_of_day          0
distance                3630
dtype: int64